*
    box-sizing: border-box
    margin: 0
    padding: 0

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap')
%font-roboto
    font-family: 'Roboto', sans-serif
    
%font-caveat
    font: 1.8em 'Caveat', cursive

body
    margin:0
    padding:0
    width: 100vw
    height: 100vh
    background: #cacaca56
    #root
        display: grid
        justify-items: center
        padding: 10px
        @extend %font-caveat
        